body {
    display: grid;
    grid-template-columns: 1fr 3fr 8fr 3fr 1fr;
    grid-column: auto auto auto 1fr;
    grid-template-areas:
        ". .   header .      ."
        ". nav main   aside  ."
        ". .   footer .      .";
}
@media only screen and (max-width: 1100px) {
    body {
        grid-template-columns: 3fr 8fr;
        grid-column: auto auto auto 1fr;
        grid-template-areas:
            ".   header"
            "nav main  "
            ".   footer";
    }
    body>aside {
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    body {
        grid-template-columns: minmax(400px, 8fr);
        grid-column: auto auto auto 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    body>nav {
        display: none;
    }
}
body>header {
    grid-area: header;
}
body>nav {
    grid-area: nav;
}
@media only screen and (max-width: 700px) {
    body>nav {
        grid-area: main;
    }
}
body>main {
    grid-area: main;
}
body>aside {
    grid-area: aside;
}
body>footer {
    grid-area: footer;
}