---
---

@import "highlights";
@import "layout";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

body.mocha a.mocha {
  border: 1px solid red;
}
body.jest a.jest {
  border: 1px solid red;
}
body.jasmine a.jasmine {
  border: 1px solid red;
}

body.mocha div.jest,
body.mocha div.jasmine,
body.jest div.mocha,
body.jest div.jasmine,
body.jasmine div.mocha,
body.jasmine div.jest
{
  display: none;
}