---
---

@import "highlights";
@import "layout";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 700px) {
    @content;
  }
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

header {
  position: sticky;
  top: -96px;
  background: white;
  padding: 0px 0px 8px 0px;
}

header h1 {
  float: left;

  @include mobile {
    float: none;
    text-align: center;
    margin: 1em 0 15px;
  }
}
header h1 img {
  width: 270px;
  height: 48px;
}

header div.menu {
  float: right;
  margin: 36px 0px 0px 0px;

  @include mobile {
    float: none;
    margin: 0px;
  }
}

header div.menu button.hamburger {
  display: none;

  width: 32px;
  height: 32px;

  background: lightgray;
  border: 1px solid black;
  border-radius: 5px;

  @include mobile {
    display: block;
    float: left;
  }
}

header div.menu div.framework {
  display: inline-block;

  @include mobile {
    float: right;
  }
}

menu.framework {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
menu.framework>li {
  display: inline-block;
  vertical-align: -10px;
}
menu.framework a.mocha>img,
menu.framework a.jest>img,
menu.framework a.jasmine>img {
  width: 32px;
  height: 32px;
}
menu.framework a.mocha {
  border-bottom: 3px solid transparent;
}
body.mocha menu.framework a.mocha {
  border-bottom: 3px solid black;
}
body.jest menu.framework a.jest {
  border-bottom: 3px solid black;
}
body.jasmine menu.framework a.jasmine {
  border-bottom: 3px solid black;
}

body.mocha div.jest,
body.mocha div.jasmine,
body.jest div.mocha,
body.jest div.jasmine,
body.jasmine div.mocha,
body.jasmine div.jest
{
  display: none;
}